.spinner {
    width: 88px;
    height: 88px;
    display: grid;
    animation: spinner-plncf9 4.8s infinite;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border: 14.1px solid;
    border-radius: 50%;
    border-color: #E4F519 #E4F519 #0000 #0000;
    mix-blend-mode: darken;
    animation: spinner-plncf9 1.2s infinite linear;
 }
 
 .spinner::after {
    border-color: #0000 #0000 #FAEDDE #FAEDDE;
    animation-direction: reverse;
 }
 
 @keyframes spinner-plncf9 {
    100% {
       transform: rotate(1turn);
    }
 }